.container{
  background-color: #2F3B4C;
  width: 93%;
  height: 100vh;
  float: right;
}

.bookings{
  width: 30%;
  height: auto;
  position: relative;
  margin:3% auto;
  background-color: #2F3B4C;
  padding: 25px;
}