.login-container{
  background-color: #2F3B4C;
  width: 100vw;
  height: 100vh;
  float: left;
}

.logo-holder-long{
  width: 30%;
  float: left;
}

.logo-img-long{
  width: 55%;
  height: 20%;
  /* display: block; */
  float: left;
  background-image: url(../../public/logo-long-white.png);
  z-index: 99;
  background-size: cover;
  margin-left: 2%;
}

.login-con{
  display: block;
  width: 80%;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 10%;
  float: left;
}

.forgot-btn{
  margin-top: 5%;
  margin-left: 2%;
  display: inline;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  float: left;
}

.forgot-btn:hover{
  color: #0E9594;
  cursor: pointer;
}

.login-btn{
  background-color: white;
  color: black;
  padding: 6px 40px;
  margin-top: 5%;
  margin-top: 5%;
  float: right;
  border-radius: 20px;
  border: none;
}

.login-btn:hover{
  background-color: #0E9594;
  color: white;
  cursor: pointer;
}

.login-input{
  border-radius: 20px;
  width: 95%;
  height: 40%;
  padding: 2% 2% 2% 3%;
  margin: 5% 0% 0% 0%;
  font-size: 15px;
  cursor: pointer;
}

.split{
  width: 50vw;
  height: 100%;
  float: left;
}

.split-img{
  width: 90%;
  height: 100%;
  /* object-fit: cover; */
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/5dbb4182d85e3000078fddae/The-9-Biggest-Technology-Trends-That-Will-Transform-Medicine-And-Healthcare-In-2020/960x0.jpg?format=jpg&width=960");
  background-size: cover;
  background-position: center;
  float: left;
}

.small{
  margin-top: 5%;
  margin-bottom: 3%;
}